<header>
  <div class="header-inner">
    <!-- <img src="images/173logo.png"> -->
    <a href="index.html" class="group-name-link"> 173rd Derby (Heatherton) Scout Group</a>  

    <nav>
      <a href="index.html">Home</a>
 <a href="pages/news/mainnews.html">News</a>
      <!-- Beavers -->
      <div class="dropdown">
        <a href="pages/beavers/beavers.html" class="dropdown-toggle">Beavers ▼</a>
        <div class="dropdown-content">
          <a href="pages/beavers/parents-guide.html">A Parent's Guide To Beavers</a>
          <a href="pages/beavers/badge-placement.html">Badge Placement</a>
          <a href="pages/beavers/termplan.html">Term Card</a>
        </div>
      </div>

      <!-- Cubs -->
      <div class="dropdown">
        <a href="pages/cubs/cubs.html" class="dropdown-toggle">Cubs ▼</a>
        <div class="dropdown-content">
            <a href="pages/cubs/cubsbp.html">Badge Placement</a>
          <a href="https://drive.google.com/drive/folders/1eFLX6ZGDOiLXUExEYdOtDjcFQG5KMx9g?usp=drive_link" >Other Info</a>
        </div>
      </div>

      <!-- Scouts -->
      <div class="dropdown">
        <a href="pages/scouts/scouts.html" class="dropdown-toggle">Scouts ▼</a>
        <div class="dropdown-content">
             <a href="pages/scouts/scoutsbp.html">Badge Placement</a>
          <a href="pages/scouts/scoutstermplan.html">Term Card</a>
        </div>
      </div>

      <!-- Volunteering -->
      <div class="dropdown">
        <a href="pages/volunteering/volunteering.html" class="dropdown-toggle">Volunteer ▼</a>
        <div class="dropdown-content">
          <a href="pages/volunteering/volunteer-young.html">Young Leaders</a>
          <a href="pages/volunteering/volunteer-adults.html">Adults</a>
        </div>
      </div>

      <a href="pages/contact.html">Contact</a>
    </nav>
  </div>
</header>